body{
    margin: 0;
}


.portada{
    background-image:url(img/Portada\ de\ inicio.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
button {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    background-color: rgba(245, 27, 15, 1);
}
.button1{
    width: 83px;
    height: 30px;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input{
    border-radius: 10px;
    background: #FFF;
    width: 250px;
    height: 50px;
    flex-shrink: 0;
}
.input1{
    border-radius: 10px;
    border-color: #ff0000;
    background: #ff0000;
    text-decoration: color(white);
    margin-top: 10% ;
    width: 250px;
    height: 50px;
    flex-shrink: 0; 

}
.input2{
    border-radius: 10px;
    border-color: #ff0000;
    background: #ff0000;
    text-decoration: color(white);
    margin-top: 40% ;
    width: 250px;
    height: 50px;
    flex-shrink: 0; 

}


.perfiles{
        width: 100%;
        padding: 0%;
        margin: 0%;
}
.perfiles .perfil1 , .perfiles .perfil3{
    position: relative;
    left: 5%;
}
.perfiles .perfil2 , .perfiles .perfil4{
    position: relative;
    right: 5%;
}
a{
    list-style: none;
    text-decoration: none;
    color: red;
}

.text1 {
    color: #FFF;
    
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
